@model PCGAuthoring.Models.Room

@{
    ViewData["Title"] = "Edit|Rooms";
}

<h1>Edit Room</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomID" />
            <div class="form-group">
                <label asp-for="RoomName" class="control-label"></label>
                <input asp-for="RoomName" class="form-control" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<PCGAuthoring.Models.ViewModels.AssignedItemData> allItems = ViewBag.Items;


                        foreach (var item in allItems)
                        {
                            <tr>
                                <td>
                                    <label>@item.AssignedItemName</label>
                                    <input type="hidden" name="selectedItems" value=@item.AssignedItemId />
                                </td>
                                <td><input type="number" name="selectedMins" value=@item.AssignedMin /></td>
                                <td><input type="number" name="selectedMaxs" value=@item.AssignedMax /></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
